# TASK 2

# Ref id:- SIRSS1227

# Pinaki Mishra

**Q1. Write a lambda expression to extract first word of a string.**

In [13]:
lam = (lambda stri: stri.split()[0])
print(lam('My name is Pinaki'))

My

**Q2. Write a function to extract first word of s string (with many words separated by space).**

In [14]:
def ext(st):
  return st.split()[0]

st = input("Enter a string: ")
print(ext(st))

Enter a string: 5
5

**Q3. Extract the first word from every string from a list of strings by using map function.**

In [15]:
lst = ['My name is Pinaki','I am 21 years old','Studying computer science engineering']
list(map(ext, lst))

['My', 'I', 'Studying']

**Q4. Write a function to return a list of prime factors of a given number.**

In [16]:
def prime(x):
  lst=[]
  i=2 
  while(i<=x):
    if x%i ==0:
      lst.append(i)
      x = x//i
    else: 
      i=i+1
  return lst

x = int(input("Enter a number: "))
print(prime(x))

Enter a number: 12
[2, 2, 3]

**Q5. Write a function that finds 2nd largest among 4 numbers (Repetitions are allowed, without sorting).**

In [17]:
lst= []

for i in range(4):
  num = int(input("Enter 4 numbers: "))
  lst.append(num)
print(lst)


def sec_largest() :
    max_num = max(lst) 
    return max(lst, key = lambda x : min(lst)-1 if (x == max_num) else x)

sec_largest()

Enter 4 numbers: 10
Enter 4 numbers: 5
Enter 4 numbers: 10
Enter 4 numbers: 5
[10, 5, 10, 5]

5